@page
@model Projekt_befit.Areas.Identity.Pages.Account.LogoutModel

@{
    ViewData["Title"] = "Wylogowanie";
}

<h2>Wylogowano</h2>
<p>Zostałeś pomyślnie wylogowany.</p>

<a asp-page="/Account/Login">Zaloguj ponownie</a>
