@model Projekt_befit.Models.DTO.TrainingSessionCreateDto

<h1>Nowa sesja treningowa</h1>
<hr />

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" class="form-control" type="datetime-local"
               value="@Model.StartTime.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="StartTime"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndTime"></label>
        <input asp-for="EndTime" class="form-control" type="datetime-local"
               value="@Model.EndTime.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="EndTime"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Utwórz</button>
</form>
